.tip-list {
  column-gap: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;

  &__title {
    margin: 0 0 20px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}
