.card {
  background-color: var(--c-white);
  border-radius: 20px;
  box-shadow: 0 5px 20px -12px rgb(0 0 0 / 30%);
  padding: 25px;

  &--black-green {
    background-color: var(--c-very-dark-cyan);
  }
}
